.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: 
  "h h"
  "n w";
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
.app-wrapper-content {
  grid-area: w ;
  background-color: green;
}


